<!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/hcmut/images/bg/slide1.jpg">
    <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title text-white">CHI TIẾT BÀI VIẾT</h1>
                    <ol class="breadcrumb text-left text-black mt-10">
                        <li><%= link_to 'Trang chủ', erp_hcmut.root_path %></li>
                        <li><%= link_to 'Tin tức', erp_hcmut.blog_listing_path %></li>
                        <li class="active text-gray-silver"><%= @blog.name %></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Blog -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="blog-posts single-post">
                    <article class="post clearfix mb-0">                        
                        <div class="entry-title pt-10 pl-15 text-justify">
                            <h3 class="text-uppercase"><%= @blog.name %></h3>
                        </div>
                        <div class="entry-meta pl-15">
                            <ul class="list-inline">
                                <li title="Đăng lúc: <%= @blog.created_at.strftime('%d/%m/%Y %I:%M %p') %>"><i class="fa fa-clock-o ml-5 mr-5"></i> <%= relative_time(@blog.created_at) %></li>
                                <li><i class="fa fa-user ml-5 mr-5"></i> Quản trị viên</li>
                                <li><i class="fa fa-folder ml-5 mr-5"></i> <%= link_to 'Tin tức', erp_hcmut.blog_listing_path %></li>
                            </ul>
                        </div>
                        <% if @blog.image.present? %>
                            <div class="entry-header">
                                <div class="post-thumb thumb">
                                    <%= link_to image_tag(@blog.image.single_thumb, alt: @blog.name), 'javascript:;', class: "img-responsive img-fullwidth" %>
                                </div>
                            </div>
                        <% end %>
                        <div class="entry-content mt-10 text-justify">
                            <%= @blog.content.html_safe %>
                            <div class="mt-30 mb-0">
                                <h5 class="pull-left mt-10 mr-20 text-theme-colored2">Chia sẻ:</h5>
                                <ul class="styled-icons icon-circled m-0">
                                    <li><a href="javascript:;" data-bg-color="#3A5795"><i class="fa fa-facebook text-white"></i></a></li>
                                    <li><a href="javascript:;" data-bg-color="#55ACEE"><i class="fa fa-twitter text-white"></i></a></li>
                                    <li><a href="javascript:;" data-bg-color="#A11312"><i class="fa fa-google-plus text-white"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </article>
                    <% if @blog.get_tags.count > 0 %>
                        <div class="tagline p-0 pt-10 mt-5">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tags">
                                        <p class="mb-0">
                                            <i class="fa fa-tags text-theme-colored2"></i>
                                            <span>Nhãn:</span>
                                            <% @blog.get_tags.each_with_index do |tag,index| %>
                                                <% if index+1 == @blog.get_tags.count %>
                                                    <a href="javascript:;"><%= tag %></a>
                                                <% else %>
                                                    <a href="javascript:;"><%= tag %></a>,
                                                <% end %>
                                            <% end %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>