<!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/hcmut/images/bg/slide1.jpg">
    <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title text-white">TIN TỨC</h1>
                    <ol class="breadcrumb text-left text-black mt-10">
                        <li><%= link_to 'Trang Chủ', erp_hcmut.root_path %></li>
                        <li class="active text-gray-silver">Tin Tức</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: News & Blog -->
<section id="news">
    <div class="container">
        <div class="section-content">
            <% if @blogs.count > 0 %>
                <div class="row">
                    <% @blogs.each do |blog| %>
                        <div class="col-sm-6 col-md-4">
                            <article class="post clearfix mb-30 mb-sm-30">
                                <div class="entry-header">
                                    <div class="post-thumb thumb">
                                        <%= link_to image_tag(blog.image.post_thumb, alt: blog.name), article_link(blog), class: "img-responsive img-fullwidth" %>
                                    </div>
                                </div>
                                <div class="entry-content p-20 pr-10 bg-lighter">
                                    <div class="entry-meta media mt-0 no-bg no-border">
                                        <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                                            <ul>
                                                <li class="font-11 text-white font-weight-600 border-bottom"><%= blog.created_at.strftime('%d/%m') %></li>
                                                <li class="font-12 text-white text-uppercase"><%= blog.created_at.strftime('%Y') %></li>
                                            </ul>
                                        </div>
                                        <div class="media-body pl-15">
                                            <div class="event-content pull-left flip">
                                                <h5 class="entry-title text-white text-justify text-uppercase m-0 mt-5">
                                                    <%= link_to blog.name, article_link(blog), title: blog.name %>
                                                </h5>
                                                <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-user mr-5 text-theme-colored"></i> Quản trị viên</span>
                                                <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-folder mr-5 text-theme-colored"></i> Tin tức</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="mt-10 text-justify">
                                        <%= short_text(blog.content, 35) %> [...]
                                    </p>
                                    <%= link_to 'XEM CHI TIẾT', article_link(blog), title: blog.name, class: 'btn btn-theme-colored2 btn-sm text-white' %>
                                    <div class="clearfix"></div>
                                </div>
                            </article>
                        </div>
                    <% end %>
                </div>
                <div class="row">
                    <div class="pagination-hcmut">
                        <%= erp_datalist_pagination(@blogs) %>
                    </div>
                </div>
            <% else %>
                <div class="alert alert-warning">
                    <i class="fa fa-warning"></i> Hiện chưa có bài viết cho mục này.
                </div>
            <% end %>
        </div>
    </div>
</section>