<% if Erp::Finances::Service.get_service_is_home.count > 0 %>
<div class="container">
    <div class="section-content text-center">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-uppercase line-bottom-double-line-centered text-theme-colored mt-0">DỊCH VỤ NỔI BẬT</h2>
                <p>Dù bạn là công ty nhỏ, vừa hay lớn, chúng tôi luôn cam kết thực hiện yêu cầu của bạn một cách chuyên nghiệp và những khả năng của chúng tôi có. Các công ty sử dụng dịch vụ kế toán của chúng tôi đã tiết kiệm đáng kể . Với việc sử dụng dịch vụ của chúng tôi các bạn có thể tiết kiệm được một chi phí nếu như thuê nhân viên toàn thời gian.</p>
            </div>
        </div>
        <div class="row mt-40">
            <% Erp::Finances::Service.get_service_is_home.each do |service| %>
            <div class="col-sm-6 col-md-4 maxwidth500 mb-sm-40">
                <div class="project">
                    <div class="thumb">
                        <%= image_tag service.image_url.home, alt: service.get_name, class: 'img-fullwidth' %>
                        <div class="hover-link">
                            <%= link_to '<i class="fa fa-arrows"></i>'.html_safe,
                                        service_link(service), title: 'Xem Chi Tiết Dịch Vụ: ' + service.get_name %>
                        </div>
                    </div>
                    <h3 class="text-theme-colored"><%= link_to service.get_name, service_link(service), title: service.get_name %></h3>
                    <p class="text-justify"><%= service.description %></p>
                    <%= link_to 'XEM CHI TIẾT', service_link(service), title: service.get_name, class: 'btn btn-sm btn-theme-colored2 text-white' %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
<% end %>