<nav id="menuzord" class="menuzord red">
    <ul class="menuzord-menu">
        <li class="home">
            <a href="index.html"><i class="fa fa-home font-28"></i></a>
        </li>
        <li><%= link_to 'Giới Thiệu', erp_hcmut.about_us_path, title: 'Giới Thiệu' %></li>
        <li><a href="#">Dịch Vụ</a>
            <ul class="dropdown">
                <li><a href="">Kế Toán Trọn Gói</a></li>
                <li><a href="">Quyết Toán Thuế</a></li>
                <li><a href="">Báo Cáo Tài Chính</a></li>
                <li><a href="">Bảo Hiểm Xã Hội</a></li>
                <li><a href="">Kế Toán Trưởng</a></li>
                <li><a href="">Thành Lập Công Ty</a></li>
            </ul>
        </li>
        <li><%= link_to 'Bảng Giá Dịch Vụ', '', title: 'Tin Tức' %></li>
        <li><%= link_to 'Tin Tức', erp_hcmut.blog_listing_path, title: 'Tin Tức' %></li>
        <li><%= link_to 'Tuyển Dụng', erp_hcmut.job_listing_path, title: 'Tuyển Dụng' %></li>
        <li><%= link_to 'Liên Hệ', erp_hcmut.contact_path, title: 'Liên Hệ' %></li>
        <li class="active pull-right"><a href="tel:+(012) 345 6789" class="font-20 line-height-1"><i class="pe-7s-call mr-10 font-28"></i> (028) 1234 5678</a></li>
    </ul>
</nav>