<!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/hcmut/images/bg/slide1.jpg">
    <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title text-white">BÁO CÁO TÀI CHÍNH</h1>
                    <ol class="breadcrumb text-left text-black mt-10">
                        <li><%= link_to 'Trang Chủ', erp_hcmut.root_path %></li>
                        <li><%= link_to 'Dịch Vụ', erp_hcmut.service_listing_path %></li>
                        <li class="active text-gray-silver"><%= @service.get_name %></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: service-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 blog-pull-right">
                <div class="single-service">
                    <%= image_tag @service.image_url.detail, alt: @service.get_name %>
                    <h3 class="text-theme-colored line-bottom text-theme-colored"><%= @service.get_name %></h3>
                    <div class="service-content text-justify">
                        <%= @service.content.html_safe if @service.content.present? %>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <%= render "erp/hcmut/frontend/modules/services/left_siderbar", service: @service %>
            </div>
        </div>
    </div>
</section>