<footer id="footer" class="footer bg-black-111">
    <div class="container pt-70 pb-40">
        <div class="row border-bottom-black">
            <div class="col-sm-6 col-md-3">
                <%= render "erp/hcmut/frontend/modules/footer/company_info" %>
            </div>
            <div class="col-sm-6 col-md-3">
                <%= render "erp/hcmut/frontend/modules/footer/website_info" %>
            </div>
            <div class="col-sm-6 col-md-3">
                <%= render "erp/hcmut/frontend/modules/footer/finance_services" %>
            </div>
            <div class="col-sm-6 col-md-3">
                <%= render "erp/hcmut/frontend/modules/footer/time_working" %>
            </div>
        </div>
    </div>
    <div class="footer-bottom bg-black-222">
        <%= render "erp/hcmut/frontend/modules/footer/copyright" %>
    </div>
</footer>