<header id="header" class="header modern-header modern-header-theme-colored">
    <div class="header-top bg-theme-colored sm-text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="widget text-white">
                        <i class="fa fa-clock-o text-theme-colored2"></i> <%= Erp::Contacts::Contact.get_main_contact.note %>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="widget">
                        <ul class="list-inline  text-right flip sm-text-center">
                            <li class="m-0 pl-10">
                                <%= link_to '<i class="fa fa-edit mr-5 text-theme-colored2"></i> Đăng nhập'.html_safe,
                                    erp.backend_path, title: 'Đăng nhập tài khoản', class: 'text-white' %>
                            </li>                          
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle p-0 bg-light xs-text-center">
        <div class="container pt-30 pb-30">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="widget sm-text-center">
                        <i class="fa fa-envelope text-theme-colored2 font-32 mt-5 mr-sm-0 sm-display-block pull-left flip sm-pull-none"></i>
                        <%= link_to 'Địa chỉ email', 'mailto:info@yourdomain.com', title: '', class: 'font-12 text-gray text-uppercase' %>
                        <h5 class="font-13 text-black m-0"> <%= Erp::Contacts::Contact.get_main_contact.email %></h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="widget text-center">
                        <%= link_to image_tag(Erp::Contacts::Contact.get_main_contact.image_url.logo_thumb), erp_hcmut.root_path, alt: '' %>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="widget sm-text-center">
                        <i class="fa fa-building-o text-theme-colored2 font-32 mt-5 mr-sm-0 sm-display-block pull-left flip sm-pull-none"></i>
                        <%= link_to 'Địa chỉ', erp_hcmut.contact_path, title: '', class: 'font-12 text-gray text-uppercase' %>
                        <h5 class="font-13 text-black m-0"> <%= display_contact_address(Erp::Contacts::Contact.get_main_contact) %></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <div class="header-nav-wrapper navbar-scrolltofixed">
            <div class="container">
                <%= render "erp/hcmut/frontend/modules/header/main_menu" %>
            </div>
        </div>
    </div>
</header>