<!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/hcmut/images/bg/slide1.jpg">
    <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title text-white">THÔNG TIN TUYỂN DỤNG</h1>
                    <ol class="breadcrumb text-left text-black mt-10">
                        <li><%= link_to 'Trang Chủ', erp_hcmut.root_path %></li>
                        <li><%= link_to 'Tuyển Dụng', erp_hcmut.job_listing_path %></li>
                        <li class="active text-gray-silver"><%= @recruitment.name %></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="job-overview">
                    <dl class="dl-horizontal">
                        <dt><i class="fa fa-calendar text-theme-colored mt-5 font-15"></i></dt>
                        <dd>
                            <h5 class="mt-0">Hạn nộp hồ sơ:</h5>
                            <p><%= @recruitment.created_at.strftime('%d/%m/%Y') %></p>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt><i class="fa fa-user text-theme-colored mt-5 font-15"></i></dt>
                        <dd>
                            <h5 class="mt-0">Vị trí:</h5>
                            <p><%= @recruitment.position %></p>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt><i class="fa fa-money text-theme-colored mt-5 font-15"></i></dt>
                        <dd>
                            <h5 class="mt-0">Mức lương:</h5>
                            <p><%= @recruitment.salary_grade %></p>
                        </dd>
                    </dl>
                    <!--<a class="btn btn-dark mt-20" data-toggle="modal" data-target="#myModal" href="#">GỬI HỒ SƠ</a>-->
                    <%= link_to 'Nộp hồ sơ', apply_link(@recruitment), class: 'btn btn-dark mt-20' %>
                    <!-- Modal -->
                    <!--render "erp/hcmut/frontend/modules/job/apply_modal"-->
                </div>
            </div>
            <div class="col-md-9">
                <div class="icon-box mb-0 p-0">
                    <a href="#" class="icon icon-gray pull-left mb-0 mr-10">
                <i class="pe-7s-users"></i>
              </a>
                    <h2 class="icon-box-title pt-15 mt-0 mb-40"><%= @recruitment.name %></h2>
                    <hr>
                    <%= @recruitment.description.html_safe %>
                </div>
                <h5 class="mt-30">Mô tả công việc:</h5>
                <ul class="list theme-colored">
                    <%= @recruitment.task.html_safe %>
                </ul>
                <h5 class="mt-30">Yêu cầu tuyển dụng:</h5>
                <ul class="list theme-colored">
                    <%= @recruitment.require.html_safe %>
                </ul>
                <h5 class="mt-30">Quyền lợi làm việc:</h5>
                <ul class="list theme-colored">
                    <%= @recruitment.interest.html_safe %>
                </ul>
            </div>
        </div>
    </div>
</section>