<!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/hcmut/images/bg/slide1.jpg">
    <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title text-white">TUYỂN DỤNG</h1>
                    <ol class="breadcrumb text-left text-black mt-10">
                        <li><%= link_to 'Trang Chủ', erp_hcmut.root_path %></li>
                        <li class="active text-gray-silver">Tuyển Dụng</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container pb-0">
        <% if @recruitments.count > 0 %>
            <div class="row text-center">
                <% @recruitments.each do |recruit| %>
                    <div class="col-sm-4">
                        <div class="icon-box iconbox-border iconbox-theme-colored p-40">
                            <%= link_to '<i class="pe-7s-users"></i>'.html_safe, recruitment_link(recruit),
                                title: recruit.name, class: 'icon icon-gray icon-bordered icon-border-effect effect-flat'
                            %>
                            <h5 class="icon-box-title"><%= recruit.name %></h5>
                            <p class="text-gray">
                                Vị trí: <%= short_text(recruit.position, 6) %><br />
                                Hạn nộp hồ sơ: <%= recruit.created_at.strftime('%d/%m/%Y') %>
                            </p>
                            <%= link_to 'XEM CHI TIẾT', recruitment_link(recruit), title: recruit.name, class: 'btn btn-dark btn-sm mt-15' %>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="row">
                <div class="pagination-hcmut">
                    <%= erp_datalist_pagination(@recruitments) %>
                </div>
            </div>
        <% else %>
            <div class="alert alert-warning">
                <i class="fa fa-warning"></i> Hiện chưa có đợt tuyển dụng nào.
            </div>
        <% end %>
    </div>
</section>