<div class="widget dark">
    <h5 class="widget-title line-bottom">THÔNG TIN WEBSITE</h5>
    <ul class="list-border">
        <li><%= link_to 'Trang Chủ', erp_hcmut.root_path, title: 'Trang Chủ' %></li>
        <li><%= link_to 'Dịch Vụ Kế Toán', erp_hcmut.service_listing_path, title: 'Dịch Vụ' %></li>
        <li><%= link_to 'Tin Tức', erp_hcmut.blog_listing_path, title: 'Tin Tức' %></li>
        <li><%= link_to 'Tuyển Dụng', erp_hcmut.job_listing_path, title: 'Tuyển Dụng' %></li>
        <li><%= link_to 'Liên Hệ', erp_hcmut.contact_path, title: 'Liên Hệ' %></li>
    </ul>
</div>