<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    
    <!-- Page Title -->
    <title>Trang Chủ | Dịch Vụ Kế Toán</title>
    
    <!-- Favicon and Touch Icons -->
    <%= favicon_link_tag '/hcmut/images/favicon.png', rel: 'shortcut icon', type: '/hcmut/image/x-icon' %>
    <%= favicon_link_tag '/hcmut/images/apple-touch-icon.png', rel: 'apple-touch-icon', type: '/hcmut/image/x-icon' %>
    <%= favicon_link_tag '/hcmut/images/apple-touch-icon-72x72.png', rel: 'apple-touch-icon', type: '/hcmut/image/x-icon', sizes: '72x72' %>
    <%= favicon_link_tag '/hcmut/images/apple-touch-icon-114x114.png', rel: 'apple-touch-icon', type: '/hcmut/image/x-icon', sizes: '114x114' %>
    <%= favicon_link_tag '/hcmut/images/apple-touch-icon-144x144.png', rel: 'apple-touch-icon', type: '/hcmut/image/x-icon', sizes: '144x144' %>
    
    <!-- Stylesheet -->
    <%= stylesheet_link_tag '/hcmut/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag '/hcmut/css/jquery-ui.min.css' %>
    <%= stylesheet_link_tag '/hcmut/css/animate.css' %>
    <%= stylesheet_link_tag '/hcmut/css/css-plugin-collections.css' %>
    
    <!-- CSS | menuzord megamenu skins -->
    <%= stylesheet_link_tag '/hcmut/css/menuzord-skins/menuzord-boxed.css', id: 'menuzord-menu-skins' %>
    
    <!-- CSS | Main style file -->
    <%= stylesheet_link_tag '/hcmut/css/style-main.css' %>
    
    <!-- CSS | Preloader Styles -->
    <%= stylesheet_link_tag '/hcmut/css/preloader.css' %>
    
    <!-- CSS | Custom Margin Padding Collection -->
    <%= stylesheet_link_tag '/hcmut/css/custom-bootstrap-margin-padding.css' %>
    
    <!-- CSS | Responsive media queries -->
    <%= stylesheet_link_tag '/hcmut/css/responsive.css' %>
    
    <!-- Revolution Slider 5.x CSS settings -->
    <%= stylesheet_link_tag '/hcmut/js/revolution-slider/css/settings.css' %>
    <%= stylesheet_link_tag '/hcmut/js/revolution-slider/css/layers.css' %>
    <%= stylesheet_link_tag '/hcmut/js/revolution-slider/css/navigation.css' %>
    
    <!-- CSS | Theme Color -->
    <%= stylesheet_link_tag '/hcmut/css/colors/theme-skin-color-set1.css' %>
    <%= stylesheet_link_tag '/hcmut/css/custom.css' %>
    
    <!-- external javascripts -->
    <%= javascript_include_tag '/hcmut/js/jquery-2.2.4.min.js' %>
    <%= javascript_include_tag '/hcmut/js/jquery-ui.min.js' %>
    <%= javascript_include_tag '/hcmut/js/bootstrap.min.js' %>
    
    <!-- JS | jquery plugin collection for this theme -->
    <%= javascript_include_tag '/hcmut/js/jquery-plugin-collection.js' %>
    
    <!-- Revolution Slider 5.x SCRIPTS -->
    <%= javascript_include_tag '/hcmut/js/revolution-slider/js/jquery.themepunch.tools.min.js' %>
    <%= javascript_include_tag '/hcmut/js/revolution-slider/js/jquery.themepunch.revolution.min.js' %>
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <%= javascript_include_tag 'https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' %>
      <%= javascript_include_tag 'https://oss.maxcdn.com/respond/1.4.2/respond.min.js' %>
    <![endif]-->
</head>
<body class="">
    <div id="wrapper" class="clearfix">
        <!-- preloader -->
        <div id="preloader">
            <div id="spinner">
                <div class="preloader-square-swapping">
                    <div class="cssload-square-part cssload-square-green"></div>
                    <div class="cssload-square-part cssload-square-pink"></div>
                    <div class="cssload-square-blend"></div>
                </div>
            </div>
        </div>
      
        <!-- Header -->
        <%= render "erp/hcmut/frontend/modules/header" %>
        
        <!-- Start main-content -->
        <div class="main-content"> 
            <%= yield %>        
        </div>
        <!-- End main-content -->
    
        <!-- Footer -->
        <%= render "erp/hcmut/frontend/modules/footer" %>
      
        <%= render "erp/hcmut/frontend/modules/back_to_top" %>
    </div>
    <!-- end wrapper -->
    
    <!-- Footer Scripts -->
    <%= render "erp/hcmut/frontend/modules/javascripts" %>
</body>
</html>